In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Part 1: Data Exploration and Feature Engineering

In [ ]:
#1. Preparation:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load data
transactions = pd.read_csv('/content/drive/MyDrive/transactions_train.csv')
customers = pd.read_csv('customers.csv')
articles = pd.read_csv('articles.csv')

# Preview the datasets
print("Transactions Preview:")
print(transactions.head())
print("Customers Preview:")
print(customers.head())
print("Articles Preview:")
print(articles.head())

#2. Data Cleaning:
#Parse date columns properly
transactions['t_dat'] = pd.to_datetime(transactions['t_dat'])

#Check for Missing or Duplicated Values:
print(transactions.isnull().sum())
print(customers.isnull().sum())
print(articles.isnull().sum())
# Handle missing values
transactions.dropna(inplace=True)
customers.fillna(method='ffill', inplace=True)
articles.drop_duplicates(inplace=True)

# Merge Datasets to Create a Customer-Product View:
transactions = transactions[['customer_id', 'article_id', 't_dat']]
customers = customers[['customer_id', 'age']]
articles = articles[['article_id', 'product_type_name', 'product_code','perceived_colour_master_name','index_group_name']]

# Merge từng bước, dùng 'inner' để giảm kích thước
merged_df = transactions.merge(customers, on='customer_id', how='inner')
merged_df = merged_df.merge(articles, on='article_id', how='inner')

print(merged_df.head())

Transactions Preview:
        t_dat                                        customer_id  article_id  \
0  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

      price  sales_channel_id
0  0.050831                 2
1  0.030492                 2
2  0.015237                 2
3  0.016932                 2
4  0.016932                 2
Customers Preview:
                                         customer_id   FN  Active  \
0  00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...  NaN     NaN
1  0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...  NaN     NaN
2  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...  NaN     NaN
3  00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...  NaN     NaN
4  00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...  1.0     1.0

  club_member_status fashion_news_frequency   age  \
0             ACTIVE                   NONE  49.0
1             ACTIVE                   NONE  25.0
2             ACTIVE                   NONE  24.0
3             ACTIVE                   NONE  54.0
4             ACTIVE              Regularly  52.0

                                         postal_code
0  52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1  2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2  64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3  5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4  25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
Articles Preview:
   article_id  product_code          prod_name  product_type_no  \
0   108775015        108775          Strap top              253
1   108775044        108775          Strap top              253
2   108775051        108775      Strap top (1)              253
3   110065001        110065  OP T-shirt (Idro)              306
4   110065002        110065  OP T-shirt (Idro)              306

  product_type_name  product_group_name  graphical_appearance_no  \
0          Vest top  Garment Upper body                  1010016
1          Vest top  Garment Upper body                  1010016
2          Vest top  Garment Upper body                  1010017
3               Bra           Underwear                  1010016
4               Bra           Underwear                  1010016

  graphical_appearance_name  colour_group_code colour_group_name  ...  \
0                     Solid                  9             Black  ...
1                     Solid                 10             White  ...
2                    Stripe                 11         Off White  ...
3                     Solid                  9             Black  ...
4                     Solid                 10             White  ...

   department_name index_code        index_name index_group_no  \
0     Jersey Basic          A        Ladieswear              1
1     Jersey Basic          A        Ladieswear              1
2     Jersey Basic          A        Ladieswear              1
3   Clean Lingerie          B  Lingeries/Tights              1
4   Clean Lingerie          B  Lingeries/Tights              1

   index_group_name section_no            section_name garment_group_no  \
0        Ladieswear         16  Womens Everyday Basics             1002
1        Ladieswear         16  Womens Everyday Basics             1002
2        Ladieswear         16  Womens Everyday Basics             1002
3        Ladieswear         61         Womens Lingerie             1017
4        Ladieswear         61         Womens Lingerie             1017

   garment_group_name                                        detail_desc
0        Jersey Basic            Jersey top with narrow shoulder straps.
1        Jersey Basic            Jersey top with narrow shoulder straps.
2        Jersey Basic            Jersey top with narrow shoulder straps.
3   Under-, Nightwear  Microfibre T-shirt bra with underwired, moulde...
4   Under-, Nightwear  Microfibre T-shirt bra with underwired, moulde...

[5 rows x 25 columns]
t_dat               0
customer_id         0
article_id          0
price               0
sales_channel_id    0
dtype: int64
customer_id                    0
FN                        683679
Active                    693339
club_member_status          4604
fashion_news_frequency     12305
age                        12120
postal_code                    0
dtype: int64
article_id                        0
product_code                      0
prod_name                         0
product_type_no                   0
product_type_name                 0
product_group_name                0
graphical_appearance_no           0
graphical_appearance_name         0
colour_group_code                 0
colour_group_name                 0
perceived_colour_value_id         0
perceived_colour_value_name       0
perceived_colour_master_id        0
perceived_colour_master_name      0
department_no                     0
department_name                   0
index_code                        0
index_name                        0
index_group_no                    0
index_group_name                  0
section_no                        0
section_name                      0
garment_group_no                  0
garment_group_name                0
detail_desc                     416
dtype: int64

<ipython-input-2-f31a31625c4b>:31: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  customers.fillna(method='ffill', inplace=True)

                                         customer_id  article_id      t_dat  \
0  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001 2018-09-20
1  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023 2018-09-20
2  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004 2018-09-20
3  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003 2018-09-20
4  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004 2018-09-20

    age product_type_name  product_code perceived_colour_master_name  \
0  24.0    Underwear body        663713                        Black
1  24.0               Bra        541518                         Pink
2  32.0           Sweater        505221                         Pink
3  32.0           Sweater        685687                         Pink
4  32.0           Sweater        685687                        Green

  index_group_name
0       Ladieswear
1       Ladieswear
2          Divided
3       Ladieswear
4       Ladieswear
Top 5 most bought articles :
   article_id  purchase_count
0   706016001           38678
1   706016002           26868
2   372860001           24140
3   610776002           23151
4   759871002           20091
                                         customer_id  purchase_frequency
0  00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...                  21
1  0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...                  86
2  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...                  18
3  00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...                   2
4  00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...                  13
product_type_name
Trousers    3231631
Dress       2482175
Sweater     2130646
T-shirt     1685491
Top         1210528
Name: count, dtype: int64

In [ ]:
# 1. Tính số lượt mua của mỗi article
top_articles = transactions['article_id'].value_counts().reset_index()
top_articles.columns = ['article_id', 'purchase_count']

# 2. Lấy 5 sản phẩm được mua nhiều nhất
top_10_articles = top_articles.head(10)

# 3. Merge với bảng articles để lấy thêm thông tin
top_10_articles_info = top_10_articles.merge(
    articles[['article_id', 'product_type_name', 'perceived_colour_master_name', 'index_group_name']],
    on='article_id',
    how='left'
)

# 4. Hiển thị kết quả
print(top_10_articles_info)

   article_id  purchase_count product_type_name perceived_colour_master_name  \
0   706016001           50287          Trousers                        Black
1   706016002           35043          Trousers                         Blue
2   372860001           31718             Socks                        Black
3   610776002           30199           T-shirt                        Black
4   759871002           26329          Vest top                        Black
5   464297007           25025  Underwear bottom                        Black
6   372860002           24458             Socks                        White
7   610776001           22451           T-shirt                        White
8   399223001           22236          Trousers                        Black
9   706016003           21241          Trousers                         Blue

  index_group_name
0          Divided
1          Divided
2       Ladieswear
3       Ladieswear
4          Divided
5       Ladieswear
6       Ladieswear
7       Ladieswear
8          Divided
9          Divided

In [ ]:
bins = [0, 20, 40, 60, np.inf]  # các điểm cắt nhóm tuổi
labels = ['0-20', '21-40', '41-60', '61+']  # nhãn cho từng nhóm

customers['age_group'] = pd.cut(customers['age'], bins=bins, labels=labels, right=True)

age_group_counts = customers['age_group'].value_counts().sort_index()

print(age_group_counts)

age_group
0-20      98052
21-40    559236
41-60    329961
61+       61326
Name: count, dtype: int64